.ModalContainer{
    background-color: var(--white);
    filter: var(--modal-shadow);
    max-width: 40rem;
    max-height: 90rem;
    height: 50rem;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 4rem;
    border-radius: 7rem;
    overflow: hidden;
    flex-direction: column;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4rem 5rem;

    >footer{
        align-self: center;
    }

    >main{
        width: 100%;
        display: flex;
    }

    >div{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        height: 10rem;
        gap: 2rem;

        >h1{
            font-style: normal;
            font-weight: 800;
            font-size: 2.7rem;
            line-height: 134.52%;
        }
    
        >p{
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 134.52%;
            color: var(--gray-300);
            max-width: 200px;
        }
    }
}