.contentContainer{
    width: 100%;
    background: var(--gray-100);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1rem;
    gap: 1rem;

    >aside{
        aspect-ratio: 1/1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        >div{
            border-radius: 100rem;
            background: var(--pink-200);
            aspect-ratio: 1/1;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    >main{
        padding: 1rem 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;
        height: 100%;
        

        >h1{
            font-weight: 600;
            font-size: 22px;
            line-height: 134.52%;
        }

        >p{
            font-weight: 600;
            font-size: 1rem;
            line-height: 134.52%;

            color: rgba(23, 24, 72, 0.43);
        }
    }
}