*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

:root{
  --white: #FFFFFF;
  --black: #000;
  --gray-100: #FBFBFB;

  --pink-200: #FFB5C1;
  --pink-600: #EC697E;
  --pink-500: #FF6CB3;

  --button-background: linear-gradient(261.83deg, #FF5BAA 7.18%, #FF6CB3 92.17%);

  --placeholder-text: rgba(23, 24, 72, 0.33);

  --gray-300: #CECECE;

  --blue-900: #171848; 

  --modal-shadow: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.17));

  --input-shadow: 0px 4px 17px rgba(0, 0, 0, 0.07);
}

@media(max-width: 1080px) {
  html{
    font-size: 93.75%;
  }
}

@media(max-width: 720px) { 
  html{
    font-size: 87.5%;
  }
}


body{
  background-color: var(--gray-100);
  color: var(--blue-900);
}

body, input, textarea, select, button, h1, h2, h3,h4,span, p{
  font: 400 1rem "Inter", sans-serif;
}

button{
  cursor: pointer;
}

a{
  color: inherit;
  text-decoration: none;
}