.backgroundDetail{
    background: url(../../public/images/Details.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}