.defaultLargeButton{
    background: var(--button-background);
    color: var(--white);
    border: none;
    padding: 1.8rem 2rem;
    min-width: 14rem;
    border-radius: 15rem;
    font-weight: 600;
    font-size: 1.2rem;
    transition: filter 0.2s;

    &:hover{
        filter: brightness(0.9);
    }
}